<div class="main-content">
  <form class="form-content" (ngSubmit)="login()" [formGroup]="userForm" #formDir="ngForm">

    <div class="my-2">
      <label for="username">Nome de usuário</label>
      <input type="text" id="username" name="username" formControlName="username"
        >
      <div *ngIf="formControls['username'].invalid && formDir.submitted">
        <small id="username-help" class="error-msg">Informe seu nome de usuário</small>
      </div>
    </div>

    <div class="mb-2">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password"
        formControlName="password">
      <div *ngIf="formControls['password'].invalid && formDir.submitted">
        <small class="error-msg">Informe sua senha</small>
      </div>
    </div>

    <button class="btn my-2" *ngIf="!isLoading">Entrar</button>
    <div style="margin-bottom: 1rem; margin-top: 0.3rem;" *ngIf="!isLoading">
      <p class="text-center">
        Não possui uma conta? <a routerLink="/signup">Cadastre-se</a>
      </p>
    </div>
    <div class="my-4" *ngIf="isLoading">
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        ></p-progressSpinner>
    </div>

  </form>
</div>
