$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;

.header {
  height: 6rem;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  border-bottom: solid 1px #ffffffa1;
}
.user-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.user-data p {
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  background-color: $color-3;
  border-radius: $border-radius;
}
.user-image {
  display: flex;
  align-items: center;
  // border: solid 1px #fff;
  background-color: $color-3;
  padding: 0.6rem;
  border-radius: $border-radius;
}

.user-image p {
  margin: 0 1rem 0 1rem;
}

.header img {
  width: 3.3rem;
  border-radius: 50%;
  border: solid 2px #fff;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media(width < 390px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 10rem;
  }
}
