<div class="flex justify-content-center gap-2" style="margin-top: 1rem; margin-bottom: 1rem;">
  <button class="p-2" style="border-radius: 4px; width: 6rem;" (click)="editProfile()">Editar Perfil</button>
  <button class="p-2" style="border-radius: 4px; width: 5.4rem;" (click)="logout()">Sair</button>
</div>

<div class="flex justify-content-center">
  <p-carousel [value]="carousel_pages" [circular]="true" *ngIf="userData$ | async as userData" styleClass="carousel">
    <ng-template let-carouselpages pTemplate="item">
      <ng-container *ngIf="carouselpages === 1">

        <div class="flex justify-content-center">
          <div class="macro-box">
            <div class="macro-item">
              <div>{{userData.basalMetabolicRate}}</div>
              <p style="font-size: 0.92rem; padding-top: 0.1rem;">G Basal</p>
            </div>
            <div class="macro-item">
              <div>{{removeDecimalPlaces(totalCalories)}}</div>
              <p>kcal</p>
            </div>
            <div class="macro-item">
              <div>{{removeDecimalPlaces(totalCarbohydrates)}}</div>
              <p>Carbo</p>
            </div>
            <div class="macro-item">
              <div>{{removeDecimalPlaces(totalProteins)}}</div>
              <p>Prot</p>
            </div>
            <div class="macro-item">
              <div>{{removeDecimalPlaces(totalFats)}}</div>
              <p>Gord</p>
            </div>
          </div>
        </div>

      </ng-container>
      <ng-container *ngIf="carouselpages === 2">
        <div class="flex justify-content-center">
          <div class="macro-box">
            <div class="macro-item">
              <div>{{calculateGramKilogram(totalCarbohydrates, userData.weight!)}}</div>
              <p>Carb g/kg</p>
            </div>
            <div class="macro-item">
              <div>{{calculateGramKilogram(totalProteins, userData.weight!)}}</div>
              <p>Prot g/kg</p>
            </div>
            <div class="macro-item">
              <div>{{calculateGramKilogram(totalFats, userData.weight!)}}</div>
              <p>Gord g/kg</p>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </p-carousel>
</div>
