<div class="master">
  <div class="table-container">
    <h3 class="title">Café da Manhã</h3>
    <div class="meals">
      <div>
        <span>Banana Prata</span>
        <div>
          <span>120g</span>
        </div>
      </div>
      <div style="text-align: end;" class="macro-master">
        <span>120 calorias</span>
        <div class="macronutrients-box">
          <span>C:23</span>
          <span>P:12</span>
          <span>G:42</span>
        </div>
      </div>
    </div>
    <div class="add-btn">
      <button>Adicionar</button>
    </div>
    <div class="total-macronutrients">
      <div>
        <span>36</span>
        <span>Calorias</span>
      </div>
      <div>
        <span>12</span>
        <span>Carboidratos</span>
      </div>
      <div>
        <span>54</span>
        <span>Proteínas</span>
      </div>
      <div>
        <span>29</span>
        <span>Gorduras</span>
      </div>
    </div>
  </div>
</div>
