$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;

.master {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  // border: solid 1px #fff;
  width: 88vw;
}

.btn {
  padding: 0 0.5rem 0 0.5rem;
  height: 3rem;
  border-radius: $border-radius;
}

.table-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.plus-btn {
  margin-top: 1rem;
  background-color: transparent;
  transition: all 0.3s;
}

.plus-btn:hover {
  color: $color-4;
  transform: scale(1.2);
}

.new-table-container {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0 0 1rem;
}

.new-table-container button {
  padding: 0 0.5rem 0 0.5rem;
  height: 2.3rem;
  border-radius: $border-radius;
}

:host ::ng-deep {
  .modal.p-dialog {
    input {
      height: 1.9rem;
    }

    .p-dialog-header {
      background-color: $color-1;
      border: solid 1px #fff;
    }

    .p-dialog-content:last-of-type {
      background-color: $color-1;
      border: solid 1px #fff;
    }

    .p-dialog-header-icons {
      background-color: transparent;
    }

    .p-dialog-header-close-icon {
      background-color: $color-1;
    }

    .p.dialog-header-close {
      background-color: $color-5;
    }
  }

  .p-datatable-table {
    border-spacing: 1px !important;
    border-spacing: 0px;
    width: 100%;
    background-color: #f8f9fa;
  }

  .p-component-overlay {
    background-color: #000000e5 !important;
  }

  .p-datatable .p-datatable-tbody>tr>td {
    text-align: center;
  }

  // .modal.p-dialog .p-dialog-header-close-icon {
  //   // background-color: $color-5;
  //   transition: all 0.3s;
  // }
  // .modal.p-dialog .p-dialog-header-close-icon:hover {
  //   // border: solid 1px #f8f9fa;
  //   // border-radius: 50%;
  //   // padding: 0.1rem;
  //   // font-size: 2rem;
  // }

  // .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  //   // background-color: $color-5;
  // }

  .p-dialog .p-dialog-header .p-dialog-header-icon:last-child:hover {
    background-color: transparent;

  }
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: 1rem;
}

// .modal-inputs::placeholder {
//   font-size: 4rem;
// }
.delete-btn,
.edit-btn {
  background-color: transparent;
}

.delete-btn:hover {
  color: $color-5;
}

.edit-btn:hover {
  color: $color-2;
}
