$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;

:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: $color-1;
  }

  .p-dialog .p-dialog-content {
    background-color: $color-1;
  }
}

.master-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 2rem 2rem 2rem;
}
@media (max-width: 540px) {
  .master-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
}
@media (max-width: 348px) {
  .master-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  }
}
.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.table-container {
  display: flex;
  flex-direction: column;
  background-color: $color-2;
  color: #dce0e1;
  border: solid 1px #fff;

  .title {
    background-color: $color-2;
    padding: 0 0 0 1rem;
  }

  .meals {
    display: flex;
    justify-content: space-between;
    background-color: $color-3;
    padding: 1rem;
    border-top: solid 1px #fff;
  }

  .meals div {
    background-color: $color-3;
  }

  .meals div span {
    background-color: $color-3;
  }

  .macronutrients-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.36rem;
  }
  .macronutrients-font {
    color: $color-4;
  }
  .macro-master {
    background-color: $color-3;
  }

  .macro-master span {
    background-color: $color-3;
  }
  .edit-delete-macros button{
    background-color: transparent;
    margin-left: 1rem;
  }
  .edit-delete-macros button:hover {
    color: $color-5;
    margin-left: 1rem;
  }
  .calories {
    color: $color-4;
    border: solid 1px $color-4;
    padding: 0 0.2rem 0 0.2rem;
    border-radius: $border-radius;
  }
  .add-btn {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    border-top: solid 1px #fff;
    background-color: $color-1;
  }

  .total-macronutrients {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: $color-3;
  }

  .total-macronutrients div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .total-macronutrients div span {
    text-align: center;
    background-color: $color-3;
  }

  .add-btn button {
    padding: 0.5rem;
    border-radius: $border-radius;
  }

  .table-btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .table-btns button {
    font-size: 1.2rem;
  }
  .table-btns > div {
    // color: $color-1;
    color: #fff;
    font-size: 1rem;
    // border: solid 1px $color-1;
    padding: 0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: $border-radius;
  }

  .icon-btn:hover {
    color: $color-1;
    background-color: transparent;
  }
}

.btn {
  padding: 0.6rem;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  align-items: center;
}
.macronutrients-header {
  border: 0 !important;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border-radius: $border-radius;
  display: flex;
  gap: 0.3rem;
}
.macronutrients-header span {
  color: white;
}
