$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;

.master {
  display: flex;
  justify-content: center;
}

:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: $color-1;
  }
  .p-dialog .p-dialog-content {
    background-color: $color-1;
  }
}
.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.table-container {
  width: 22rem;
  display: flex;
  flex-direction: column;
  background-color: $color-2;
  color: #dce0e1;
  border: solid 1px #fff;

  .title {
    background-color: $color-2;
    padding: 0 0 0 1rem;
  }

  .meals {
    display: flex;
    justify-content: space-between;
    background-color: $color-3;
    padding: 1rem;
    border-top: solid 1px #fff;
  }

  .meals div {
    background-color: $color-3;
  }

  .meals div span {
    background-color: $color-3;
  }

  .macronutrients-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.36rem;
  }

  .macro-master {
    background-color: $color-3;
  }

  .macro-master span {
    background-color: $color-3;
  }

  .add-btn {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    border-top: solid 1px #fff;
    background-color: $color-1;
  }

  .total-macronutrients {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: $color-3;
  }

  .total-macronutrients div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .total-macronutrients div span {
    text-align: center;
    background-color: $color-3;
  }

  .add-btn button {
    padding: 0.5rem;
    border-radius: $border-radius;
  }
  .table-btns {
    display: flex;
    align-items: center;
    // border: solid 1px #fff;
    // width: 4rem;
    gap: 1rem;
    // justify-content: space-between;
    padding: 1rem;
  }
  .table-btns button {

    font-size: 1.2rem;
  }
}
.btn {
  padding: 0.6rem;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  align-items: center;
}
.tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}
