<app-header></app-header>

<div class="card flex justify-content-center">
  <p-dialog header="Nova refeição" [(visible)]="visible" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="newMeal">
      <button class="btn" (click)="addNewTable()">Criar</button>
    </div>
  </p-dialog>

  <p-dialog header="Editar refeição" [(visible)]="editMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true" *ngIf="selectedMeal">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="selectedMeal.name">
      <button class="btn" (click)="editMeal()">Salvar</button>
    </div>
  </p-dialog>

  <p-dialog header="Excluir refeição" [(visible)]="deleteMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteMeal()">Excluir</button>
    </div>
  </p-dialog>

  <p-dialog header="Excluir alimento" [(visible)]="deleteFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteFood()">Excluir</button>
    </div>
  </p-dialog>

  <p-dialog header="Editar alimento" [(visible)]="editFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <div class="modal-inputs" *ngIf="selectedFood">
        <label for="alimento">Alimento</label>

        <p-autoComplete [style]="{'width': '100%' ,'height': '38px'}" [(ngModel)]="foodName" [suggestions]="suggestions"
          (completeMethod)="search($event)" [delay]="600" [minLength]="3" (onSelect)="fillNutrient()"
          placeholder="ex: arroz..." class="auto-complete-input">
          <ng-template let-food pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img [src]="foodPhoto" class="food-photo" />
              <div class="food-preview">{{ foodPreviewName}}</div>
            </div>
          </ng-template>
        </p-autoComplete>

        <label for="peso">Peso (g)</label>
        <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
          (input)="changeMacronutriensValue()">
        <label for="carboidratos">Carboidratos</label>
        <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
        <label for="proteinas">Proteínas</label>
        <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
        <label for="gorduras">Gorduras</label>
        <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
      </div>
      <button class="btn" (click)="editFood()">Salvar</button>
    </div>
  </p-dialog>

  <p-dialog header="Novo alimento" [(visible)]="visibleNewFood" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <div class="modal-inputs">
        <label for="alimento">Alimento</label>

        <p-autoComplete [style]="{'width': '100%' ,'height': '38px'}" [(ngModel)]="foodName" [suggestions]="suggestions"
          (completeMethod)="search($event)" [delay]="600" [minLength]="3" (onSelect)="fillNutrient()"
          placeholder="ex: arroz..." class="auto-complete-input">
          <ng-template let-food pTemplate="item">
            <div class="flex align-items-center gap-2">
              <img [src]="foodPhoto" class="food-photo" />
              <div class="food-preview">{{ foodPreviewName }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
        <label for="peso">Peso (g)</label>
        <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
          (input)="changeMacronutriensValue()">
        <label for="carboidratos">Carboidratos</label>
        <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
        <label for="proteinas">Proteínas</label>
        <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
        <label for="gorduras">Gorduras</label>
        <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
          (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
      </div>
      <button class="btn" (click)="addNewFood()">Adicionar</button>
    </div>
  </p-dialog>
</div>

<div class="flex flex justify-content-center mb-4 gap-4">
  <button class="btn" (click)="showNewMealDialog()">Nova refeição</button>
</div>

<div class="main-container">
  <div class="table-border" *ngFor="let meal of mealTables$ | async, let i = index">
    <div class="table-header gap-3">
      <p class="table-box" style="background-color: #036873;">{{meal.name}}</p>
      <p class="table-box" *ngIf="calculateTotalNutrients(meal.id!)">{{ calculateTotalNutrients(meal.id!).totalCalories
        }}
        <br> Cal
      </p>
      <div class="table-box">{{calculateTotalNutrients(meal.id!).totalCarbohydrates}}<br> Carbo</div>
      <div class="table-box">{{calculateTotalNutrients(meal.id!).totalProteins}}<br> Proteína</div>
      <div class="table-box">{{calculateTotalNutrients(meal.id!).totalFats}}<br> Gordura</div>
      <div class="flex flex-column gap-3">
        <button class="pi pi-pencil icon-btn" (click)="showEditMealModal(meal)"></button>
        <button class="pi pi-trash icon-btn" (click)="showDeleteMealModal(meal.id!)"></button>
      </div>
    </div>

    <ng-container *ngIf="foods && foods.length > 0">
      <div *ngFor="let food of getFoodsForMeal(meal.id!)">
        <div class="table-row">
          <div class="align-items-center flex-column">
            <div class="table-box mb-2">{{food.name}}</div>
            <div class="weight-row">{{food.amount}}g</div>
          </div>
          <div class="circle-btn">{{food.calories}}<br>Cal</div>
          <div class="circle-btn">{{food.carbohydrates}}<br>Carbo</div>
          <div class="circle-btn">{{food.proteins}}<br>Prot</div>
          <div class="circle-btn">{{food.fats}}<br>Gord</div>
          <div class="flex flex-column gap-3">
            <button class="pi pi-pencil icon-btn" (click)="showEditFoodModal(food)"></button>
            <button class="pi pi-trash icon-btn" (click)="showDeleteFoodModal(food.id!)"></button>
          </div>
        </div>
      </div>
    </ng-container>
    <button class="add-newFood-btn" (click)="showNewFoodDialog(meal.id!)">Novo Alimento</button>
  </div>
</div>
