<app-header></app-header>

<div class="card flex justify-content-center">
  <p-dialog header="Nova refeição" [(visible)]="visible" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="newMeal">
      <button class="btn" (click)="addNewMeal()" *ngIf="!isLoading">Criar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Editar refeição" [(visible)]="editMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true" *ngIf="selectedMeal">
    <div class=" flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="selectedMeal.name" class="mb-4">
      <button class="btn" (click)="editMeal()" *ngIf="!isLoading">Salvar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Excluir refeição" [(visible)]="deleteMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteMeal()" *ngIf="!isLoading">Excluir</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Excluir alimento" [(visible)]="deleteFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteFood()" *ngIf="!isLoading">Excluir</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Editar alimento" [(visible)]="editFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column modal-table-size">
      <div class="modal-inputs">
        <div class="grid">

          <div class="col-8">
            <label for="alimento">Alimento</label>
            <p-autoComplete [style]="{'width': '100%' ,'height': '2.125rem'}" [(ngModel)]="foodName"
              [suggestions]="suggestions" (completeMethod)="search($event)" [delay]="600" [minLength]="3"
              (onSelect)="fillNutrient()" placeholder="ex: arroz..." class="auto-complete-input">
              <ng-template let-food pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img [src]="foodPhoto" class="food-photo" />
                  <div class="food-preview">{{ foodPreviewName }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>

          <div class="col-4">
            <label for="peso">Peso (g)</label>
            <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
              (input)="changeMacronutriensValue()">
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label for="carboidratos">Carboidratos</label>
            <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="proteinas">Proteínas</label>
            <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="gorduras">Gorduras</label>
            <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">

          </div>
        </div>

      </div>
      <button class="btn" (click)="editFood()" *ngIf="!isLoading">Salvar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Novo alimento" [(visible)]="visibleNewFood" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column modal-table-size">
      <div class="modal-inputs">
        <div class="grid">

          <div class="col-8">
            <label for="alimento">Alimento</label>
            <p-autoComplete [style]="{'width': '100%' ,'height': '2.125rem'}" [(ngModel)]="foodName"
              [suggestions]="suggestions" (completeMethod)="search($event)" [delay]="600" [minLength]="3"
              (onSelect)="fillNutrient()" placeholder="ex: arroz..." class="auto-complete-input">
              <ng-template let-food pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img [src]="foodPhoto" class="food-photo" />
                  <div class="food-preview">{{ foodPreviewName }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>

          <div class="col-4">
            <label for="peso">Peso (g)</label>
            <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
              (input)="changeMacronutriensValue()">
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label for="carboidratos">Carboidratos</label>
            <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="proteinas">Proteínas</label>
            <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="gorduras">Gorduras</label>
            <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">

          </div>
        </div>

      </div>
      <button class="btn" (click)="addNewFood()" *ngIf="!isLoading">Adicionar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>

  </p-dialog>
</div>

<!-- <div class="flex flex justify-content-center my-3"> -->
<div class="flex flex justify-content-center" style="margin-bottom: 1.5rem;">
  <button class="btn" (click)="showNewMealDialog()">Nova refeição</button>
</div>

<div class="main-container gap-4 mb-4">
  <div *ngFor="let meal of mealTables">
    <div class="meal-table-box" *ngIf="calculateTotalNutrients(meal.id!)">

      <div class="flex justify-content-between align-content-start">
        <div>
          <h3 style="margin-bottom: 16px; padding-left: 12px;">{{meal.name}}</h3>
        </div>

        <div class="flex gap-2" style="padding-right: 9px;">
          <div class="icon-btn-meal">
            <button class="pi pi-pencil" (click)="showEditMealModal(meal)"></button>

          </div>
          <div class="icon-btn-meal">
            <button class="pi pi-trash" (click)="showDeleteMealModal(meal.id!)"></button>
          </div>
        </div>
      </div>
      <div class="flex justify-content-center">
        <div class="flex justify-content-center p-all">
          <p class="p-meal">{{calculateTotalNutrients(meal.id!).totalCalories}} kcal</p>
          <p style="color: #cecece; margin-left: 0.3rem; margin-right: 0.3rem;"> | </p>
          <p class="p-meal">{{calculateTotalNutrients(meal.id!).totalCarbohydrates}} carb</p>
          <p style="color: #cecece; margin-left: 0.3rem; margin-right: 0.3rem;"> | </p>

          <p class="p-meal">{{calculateTotalNutrients(meal.id!).totalProteins}} prot</p>
          <p style="color: #cecece; margin-left: 0.3rem; margin-right: 0.3rem;"> | </p>

          <p class="p-meal">{{calculateTotalNutrients(meal.id!).totalFats}} gord</p>
        </div>
      </div>

      <ng-container *ngIf="foods && foods.length > 0">
        <div class="food-container" *ngFor="let food of foodsPerMeal">
          <div class="flex justify-content-between">
            <h4 style="padding-left: 12px;">{{food.name}}</h4>
            <div class="flex gap-2 mr-2">
              <div class="icon-btn-food">
                <button class="pi pi-pencil" (click)="showEditFoodModal(food)"></button>
              </div>
              <div class="icon-btn-food">
                <button class="pi pi-trash" (click)="showDeleteFoodModal(food.id!, meal.id!)"></button>
              </div>
            </div>

          </div>
          <div class="food-details">
            <div class="flex gap-1">
              <p>{{food.amount}}g</p>
              <p>-</p>
              <p>{{food.calories}} kcal</p>

            </div>
            <div class="flex justify-content-end gap-1">
              <p>{{food.carbohydrates}} carb</p>
              <p>|</p>
              <p>{{food.proteins}} prot</p>
              <p>|</p>
              <p>{{food.fats}} gord</p>

            </div>
          </div>
          <div class="flex justify-content-center">
            <div class="border-bottom"></div>
          </div>
        </div>

      </ng-container>
      <button class="new-food-btn" (click)="showNewFoodDialog(meal.id!)" *ngIf="!meal.isLoading">+</button>
      <p-progressSpinner styleClass="w-3rem h-3rem my-4 flex align-items-center" strokeWidth="8"
        animationDuration="1.5s" *ngIf="meal.isLoading"></p-progressSpinner>
    </div>
  </div>
  <p-progressSpinner styleClass="w-4rem h-3rem p-3 my-4 flex align-items-center" strokeWidth="8"
    animationDuration="1.5s" *ngIf="isMealsLoading"></p-progressSpinner>
</div>
