$border-radius: 6px;
$font: "Poppins", sans-serif;
$shadow-1: #02202666 0px 15px 30px, #02202666 0px 5px 10px;
$shadow-2: rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 3px 3px, rgba(0, 0, 0, 0.07) 0px 6px 6px, rgba(0, 0, 0, 0.07) 0px 10px 10px, rgba(0, 0, 0, 0.07) 0px 18px 18px;

$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$dialog-font-color: #fff;
$food_font_color: #000;
$food_font_color2: #5e5e5e;

:host ::ng-deep {
  .p-dialog {
    border: solid 1px $color-1;
  }

  .p-dialog .p-dialog-header {
    background-color: $color-1;
    color: $dialog-font-color;
  }

  .p-dialog .p-dialog-content {
    background-color: $color-1;
    color: $dialog-font-color;
  }

  .p-inputtext {
    background-color: $color-4;
    color: #000 !important;
    // background-color: $color-2;
    color: $dialog-font-color;
    transition: all 0.4s;
    border-radius: 3px;
    padding: 0.43rem;
  }

  .p-inputtext:enabled:focus {
    border: solid 1px $color-4 !important;
    background-color: $color-2;
    color: #fff !important;
    // color: #000;
    box-shadow: none;
  }

  .p-inputtext:hover {
    box-shadow: none;
    background-color: $color-2;
    // background-color: $color-4;
    color: #fff;
  }

  .p-autocomplete-dd .p-autocomplete-input:focus {
    background-color: $color-1;
    border: none;
  }

  .p-autocomplete-panel {
    background-color: $color-2;
  }

  .p-autocomplete-items {
    transition: all 0.4s;
  }

  .p-autocomplete-items:hover {
    background-color: $color-4;

  }

  .p-autocomplete-items:hover {
    cursor: pointer;

    .food-preview {
      color: #000;
    }
  }

  .p-inputtext:enabled:hover {
    border-color: transparent;
  }

  .p-icon {
    color: $dialog-font-color;
  }
}

.auto-complete-input {
  border-radius: 0;
}

.food-preview {
  transition: all 0.4s;
  font-size: 1.2rem;
  color: #fff;
}

.food-photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 3px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin: 0 2rem 2rem 2rem;
}

.modal-table-size {
  width: 32rem;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.btn {
  padding: 0.6rem;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: $shadow-2;
}

.meal-table-box {
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;

  h3 {
    color: $food_font_color;
  }
}

.food-container {
  h4 {
    color: $food_font_color;
  }

  .food-details {
    display: flex;
    padding: 0 12px 6px 12px;
    justify-content: space-between;

    p {
      color: $food_font_color2;
    }
  }
}

.border-bottom {
  border-bottom: solid 1px #d8d8d8;
  width: 95%;
  margin-bottom: 12px;
}

.new-food-btn {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.icon-btn-food,
.icon-btn-meal {
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 1.6rem;

  button {
    background-color: transparent;
    color: $food_font_color;
    font-weight: 900;
    font-size: 0.88rem;
  }
}

.icon-btn-meal {
  background-color: $color-2 !important;

  button {
    color: #fff;
    font-weight: normal;
  }
}

.p-meal {
  color: #000;
  font-size: 0.9rem;
}

.p-all {
  border-bottom: solid 1px #cecece;
  width: 94%;
  padding-bottom: 0.2rem;
  margin-bottom: 0.6rem;
}

@media (max-width: 768px) {
  .modal-table-size {
    width: 27rem;
  }
}

@media (max-width: 540px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(26rem, auto));
  }

  .modal-table-size {
    width: 22rem;
  }

  .main-container {
    margin: 0 0.4rem 0 0.4rem;
  }
}


@media (max-width: 450px) {
  .modal-table-size {
    width: 18rem;
  }

  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(23rem, auto));
  }

  .food-container {
    .food-details {
      p {
        font-size: 0.86rem;
      }
    }
  }
}

@media (max-width: 348px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  }
}
