<app-header></app-header>

<div class="card flex justify-content-center">
  <p-dialog header="Nova refeição" [(visible)]="visible" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="newMeal">
      <button class="btn" (click)="addNewMeal()" *ngIf="!isLoading">Criar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Editar refeição" [(visible)]="editMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true" *ngIf="selectedMeal">
    <div class=" flex justify-content-center flex-column">
      <input type="text" placeholder="ex: Almoço" [(ngModel)]="selectedMeal.name" class="mb-4">
      <button class="btn" (click)="editMeal()" *ngIf="!isLoading">Salvar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Excluir refeição" [(visible)]="deleteMealVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteMeal()" *ngIf="!isLoading">Excluir</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>



  <p-dialog header="Excluir alimento" [(visible)]="deleteFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column">
      <p>Tem certeza que deseja excluir?</p>
      <button class="btn" (click)="deleteFood()" *ngIf="!isLoading">Excluir</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Editar alimento" [(visible)]="editFoodVisible" [draggable]="false" [resizable]="false"
    [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column modal-table-size">
      <div class="modal-inputs">
        <div class="grid">

          <div class="col-8">
            <label for="alimento">Alimento</label>
            <p-autoComplete [style]="{'width': '100%' ,'height': '2.125rem'}" [(ngModel)]="foodName"
              [suggestions]="suggestions" (completeMethod)="search($event)" [delay]="600" [minLength]="3"
              (onSelect)="fillNutrient()" placeholder="ex: arroz..." class="auto-complete-input">
              <ng-template let-food pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img [src]="foodPhoto" class="food-photo" />
                  <div class="food-preview">{{ foodPreviewName }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>

          <div class="col-4">
            <label for="peso">Peso (g)</label>
            <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
              (input)="changeMacronutriensValue()">
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label for="carboidratos">Carboidratos</label>
            <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="proteinas">Proteínas</label>
            <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="gorduras">Gorduras</label>
            <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">

          </div>
        </div>

      </div>
      <button class="btn" (click)="editFood()" *ngIf="!isLoading">Salvar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>
  </p-dialog>

  <p-dialog header="Novo alimento" [(visible)]="visibleNewFood" [draggable]="false" [resizable]="false" [modal]="true">
    <div class="my-1 gap-4 flex justify-content-center flex-column modal-table-size">
      <div class="modal-inputs">
        <div class="grid">

          <div class="col-8">
            <label for="alimento">Alimento</label>
            <p-autoComplete [style]="{'width': '100%' ,'height': '2.125rem'}" [(ngModel)]="foodName"
              [suggestions]="suggestions" (completeMethod)="search($event)" [delay]="600" [minLength]="3"
              (onSelect)="fillNutrient()" placeholder="ex: arroz..." class="auto-complete-input">
              <ng-template let-food pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <img [src]="foodPhoto" class="food-photo" />
                  <div class="food-preview">{{ foodPreviewName }}</div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>

          <div class="col-4">
            <label for="peso">Peso (g)</label>
            <input type="number" id="peso" name="peso" [(ngModel)]="amount" placeholder="ex: 120"
              (input)="changeMacronutriensValue()">
          </div>
        </div>

        <div class="grid">
          <div class="col-4">
            <label for="carboidratos">Carboidratos</label>
            <input type="number" id="carboidratos" name="carboidratos" [(ngModel)]="carbohydrate" placeholder="ex: 28.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="proteinas">Proteínas</label>
            <input type="number" id="proteinas" name="proteinas" [(ngModel)]="protein" placeholder="ex: 21"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">
          </div>

          <div class="col-4">
            <label for="gorduras">Gorduras</label>
            <input type="number" id="gorduras" name="gorduras" [(ngModel)]="fat" placeholder="ex: 2.6"
              (ngModelChange)="updateDefaultMacronutrientValuesOnEdit()">

          </div>
        </div>

      </div>
      <button class="btn" (click)="addNewFood()" *ngIf="!isLoading">Adicionar</button>
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        *ngIf="isLoading"></p-progressSpinner>
    </div>

  </p-dialog>
</div>

<div class="flex flex justify-content-center my-3">
  <button class="btn" (click)="showNewMealDialog()">Nova refeição</button>
</div>

<div class="main-container mb-4">
  <div *ngFor="let meal of mealTables">
    <!-- <div class="flex justify-content-center align-content-center">
      <p-progressSpinner styleClass="w-3rem h-3rem m-3" strokeWidth="8" animationDuration="1.5s"
        *ngIf="meal.isLoading"></p-progressSpinner>
    </div> -->
    <div class="table-border">
    <!-- <div class="table-border" *ngIf="!meal.isLoading"> -->
      <div class="table-header gap-3">
        <p class="table-box" *ngIf="!meal.isEditing">{{meal.name}}</p>
        <p-progressSpinner styleClass="w-3rem h-3rem flex align-items-center" strokeWidth="8" animationDuration="1.5s"
          *ngIf="meal.isEditing"></p-progressSpinner>
        <p class="table-box" *ngIf="calculateTotalNutrients(meal.id!)">{{
          calculateTotalNutrients(meal.id!).totalCalories
          }}
          <br> Cal
        </p>
        <div class="table-box">{{calculateTotalNutrients(meal.id!).totalCarbohydrates}}<br> Carbo</div>
        <div class="table-box">{{calculateTotalNutrients(meal.id!).totalProteins}}<br> Proteína</div>
        <div class="table-box">{{calculateTotalNutrients(meal.id!).totalFats}}<br> Gordura</div>
        <div class="flex flex-column gap-3">
          <button class="pi pi-pencil icon-btn" (click)="showEditMealModal(meal)"></button>
          <button class="pi pi-trash icon-btn" (click)="showDeleteMealModal(meal.id!)"></button>
        </div>
      </div>

      <ng-container *ngIf="foods && foods.length > 0">
        <div *ngFor="let food of foodsPerMeal">
          <div class="table-row">
            <div class="align-items-center flex-column">
              <div class="table-box table-box-food-name mb-2" *ngIf="!food.isLoading">{{food.name}}</div>
              <p-progressSpinner styleClass="w-3rem h-3rem m-3 flex align-items-center" strokeWidth="8"
                animationDuration="1.5s" *ngIf="food.isLoading"></p-progressSpinner>
              <div class="weight-row" *ngIf="!food.isLoading">{{food.amount}}g</div>
            </div>
            <div class="circle-btn" *ngIf="!food.isLoading">{{food.calories}}<br>Cal</div>
            <div class="circle-btn" *ngIf="!food.isLoading">{{food.carbohydrates}}<br>Carbo</div>
            <div class="circle-btn" *ngIf="!food.isLoading">{{food.proteins}}<br>Prot</div>
            <div class="circle-btn" *ngIf="!food.isLoading">{{food.fats}}<br>Gord</div>
            <div class="flex flex-column gap-3" *ngIf="!food.isLoading">
              <button class="pi pi-pencil icon-btn" (click)="showEditFoodModal(food)"></button>
              <button class="pi pi-trash icon-btn" (click)="showDeleteFoodModal(food.id!, meal.id!)"></button>
            </div>
          </div>
        </div>
      </ng-container>
      <p-progressSpinner styleClass="w-3rem h-3rem my-4 flex align-items-center" strokeWidth="8"
        animationDuration="1.5s" *ngIf="meal.isLoading"></p-progressSpinner>
      <button class="add-newFood-btn" (click)="showNewFoodDialog(meal.id!)" *ngIf="!meal.isLoading">Novo
        Alimento</button>
    </div>
  </div>
  <p-progressSpinner styleClass="w-4rem h-3rem p-3 my-4 flex align-items-center" strokeWidth="8"
    animationDuration="1.5s" *ngIf="isMealsLoading"></p-progressSpinner>
</div>
