$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;
$font:"Poppins", sans-serif;
$shadow-1: #02202666 0px 15px 30px, #02202666 0px 5px 10px;
$shadow-2: rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 3px 3px, rgba(0, 0, 0, 0.07) 0px 6px 6px, rgba(0, 0, 0, 0.07) 0px 10px 10px, rgba(0, 0, 0, 0.07) 0px 18px 18px;

:host ::ng-deep {
  .p-dialog {
    border: solid 1px $color-1;
  }
  .p-dialog .p-dialog-header {
    background-color: $color-1;
  }

  .p-dialog .p-dialog-content {
    background-color: $color-1;
  }

  .p-inputtext {
    background-color: $color-4;
    color: #000;
    transition: all 0.4s;
    border-radius: 3px;
    padding: 0.43rem;
  }

  .p-inputtext:enabled:focus {
    border: solid 1px $color-4 !important;
    background-color: $color-2;
    color: #fff;
    box-shadow: none;
  }

  .p-inputtext:hover {
    box-shadow: none;
    background-color: $color-2;
    color: #fff;
  }

  .p-autocomplete-dd .p-autocomplete-input:focus {
    background-color: $color-1;
    border: none;
  }

  .p-autocomplete-panel {
    background-color: $color-2;
  }

  .p-autocomplete-items {
    transition: all 0.4s;
  }

  .p-autocomplete-items:hover {
    background-color: $color-4;

  }

  .p-autocomplete-items:hover {
    cursor: pointer;

    .food-preview {
      color: #000;
    }
  }

  .p-inputtext:enabled:hover {
    border-color: transparent;
  }
}

.auto-complete-input {
  border-radius: 0;
}

.food-preview {
  transition: all 0.4s;
  font-size: 1.2rem;
  color: #fff;
}

.food-photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 3px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 2rem 2rem 2rem;
}

.modal-table-size {
  width: 32rem;
}

@media (max-width: 768px) {
  .modal-table-size {
    width: 27rem;
  }
}

@media (max-width: 540px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  }
  .modal-table-size {
    width: 22rem;
  }
}

@media (max-width: 450px) {
  .modal-table-size {
    width: 18rem;
  }
}

@media (max-width: 348px) {
  .main-container {
    grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
  }

  .macronutrients-box {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.36rem;
  }
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.btn {
  padding: 0.6rem;
  border-radius: $border-radius;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: $shadow-2;
}

.table-border {
  border: solid 2px $color-3;
  padding: 21px;
  border-radius: 20px;
}

.table-box {
  display: flex;
  justify-content: center;
  padding: 1px;
  text-align: center;
  align-items: center;
  width: 80px;
  height: 50px;
  overflow: hidden;
  font-size: 12px;
  font-family: $font;
  border-radius: $border-radius;
  background-color: $color-2;
  color: #fff;
  box-shadow: $shadow-1;
}
.add-newFood-btn {
  background-color: $color-2;
  padding: 6px;
  margin-top: 18px;
  border-radius: 50%;
  border-radius: $border-radius;
  box-shadow: $shadow-2;
}
.add-newFood-btn:hover {
  background-color: $color-4;
}
.circle-btn {
  color: #000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 30px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  font-family: $font;
  font-size: 14px;
  box-shadow: $shadow-1;
}
.table-header {
  display: flex;
  justify-content: space-between;
}
.table-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-3;
  margin-top: 8px;
  padding: 10px;
  border-radius: $border-radius;
  box-shadow: $shadow-2;
}
.icon-btn {
  background-color: transparent;
}
.icon-btn:hover {
  color: $color-4;
}
.weight-row {
  text-align: center;
  background-color: $color-2;
  border-radius: $border-radius;
  box-shadow: $shadow-1;
}


