<div class="flex justify-content-center align-items-center flex-column" style="height: 100dvh;">
  <h2 class="mb-2 title">Basal Diet</h2>

  <form class="form-content" (ngSubmit)="signup()" [formGroup]="userForm" #formDir="ngForm">

    <div class="my-1">
      <label for="username">Nome de usuário</label>
      <input type="text" id="username" name="username" placeholder="ex: joao_silva10" formControlName="username">
      <div *ngIf="formControls['username'].invalid && formDir.submitted">
        <small id="username-help" class="error-msg">Informe seu nome de usuário</small>
      </div>
    </div>

    <div class="my-1">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" placeholder="ex: user@example.com" formControlName="email">
      <div *ngIf="formControls['email'].invalid && formDir.submitted" class="mb-1">
        <small class="error-msg">Informe seu e-mail</small>
      </div>
    </div>

    <div class="my-1">
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="Mínimo de 8 caracteres"
        formControlName="password">
      <div *ngIf="formControls['password'].invalid && formDir.submitted" class="mb-1">
        <small class="error-msg">Informe uma senha</small>
      </div>
    </div>

    <div class="my-1">
      <label for="password_confirm">Repita a senha</label>
      <input type="password" id="password_confirm" name="password_confirm" formControlName="password_confirm" (ngModelChange)="errorMessage = ''">
      <div *ngIf="formControls['password_confirm'].invalid && formDir.submitted">
        <small class="error-msg">Repita a senha</small>
      </div>
      <div *ngIf="errorMessage">
        <small class="error-msg">{{errorMessage}}</small>
      </div>
    </div>

    <div class="my-4" *ngIf="isLoading">
      <p-progressSpinner styleClass="w-2rem h-2rem p-3 flex align-items-center" strokeWidth="8" animationDuration="1.5s"
        ></p-progressSpinner>
    </div>

    <button class="btn" style="margin-top: 1rem; margin-bottom: 1rem;" *ngIf="!isLoading">Cadastrar</button>

    <div style="margin-bottom: 1rem" *ngIf="!isLoading">
      <p class="text-center">
        Já tem uma conta? <br> <a routerLink="/login">Login</a>
      </p>
    </div>
  </form>


</div>
