<!-- <div class="container">
  <form class="form" (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
    <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
      <p>Digite o nome</p>
    </div>
    <label for="lastName">Last Name</label>
    <input type="text" id="Last Name" formControlName="lastName">
    <div *ngIf="lastName.invalid && formDir.submitted" class="validation-error">
      <p>Digite o sobrenome</p>
    </div>
    <label for="age">Age</label>
    <input type="number" id="age" formControlName="age">
    <div *ngIf="age.invalid && formDir.submitted" class="validation-error">
      <p>Digite a idade</p>
    </div>
    <button>Enviar</button>
  </form>
</div> -->

<!-- <div class="master">
  <form class="form-test" (ngSubmit)="submit()" [formGroup]="userForm" #formDir="ngForm">
    <label for="name">Nome</label>
    <input type="text" id="name" pInputText aria-describedby="name-help" formControlName="name" [class.error-border]="formControls['name'].invalid && formDir.submitted">
    <div *ngIf="formControls['name'].invalid && formDir.submitted">
      <small id="name-help" class="p-error">Digite o nome</small>
    </div>
    <label for="last-name">Sobrenome</label>
    <input type="text" id="last-name" pInputText
      [class.error-border]="formControls['lastName'].invalid && formDir.submitted" aria-describedby="last-name-help"
      formControlName="lastName">
    <div *ngIf="formControls['lastName'].invalid && formDir.submitted">
      <small id="last-name-help" class="p-error">Digite o sobrenome</small>
    </div>

    <button class="form-btn">Enviar</button>
  </form>
</div> -->

