/* You can add global styles to this file, and also import other style files */
$color-1: #022026;
$color-2: #bf7665;
$color-3: #036873;
$color-4: #7ed0d9;
$color-5: #d92b04;
$border-radius: 6px;

@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Source Sans 3', sans-serif;
  background-color: $color-1;
}
button {
  align-self: center;
  cursor: pointer;
  border: 0;
  transition: all 0.4s;
  background-color: $color-2;
}

button:hover {
  background-color: $color-4;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

input[type=text], input[type=number], input[type=password], input[type=email]{
  width: 100%;
  color: #1c1c1c;
  font-size: 1rem;
  padding: 0.5rem;
  border: 0;
  background-color: $color-4;
  border-radius: 2px;
  transition: all 0.25s;
}
input[type=text]:hover, input[type=number]:hover, input[type=password]:hover, input[type=email]:hover {
  transition: all 0.4s;
  background-color: $color-2;
}

input[type=text]:hover::placeholder, input[type=number]:hover::placeholder, input[type=password]:hover::placeholder, input[type=email]:hover::placeholder {
  transition: all 0.4s;
  color: #424242;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus {
  outline: solid 1px $color-4;
  background-color: $color-2 !important;
  color: #fff;
}

input[type=text]:focus::placeholder, input[type=number]:focus::placeholder, input[type=password]:focus::placeholder, input[type=email]:focus::placeholder {
  transition: all 0.3s;
  color: #000;
}
input[type=text]::placeholder, input[type=number]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder {
  color: #424242;
}

:host ::ng-deep {
  .p-dialog .p-dialog-header {
    background-color: $color-1;
  }

  .p-dialog .p-dialog-content {
    background-color: $color-1;
  }

  .p-inputtext {
    background-color: $color-4;
    color: #000;
    transition: all 0.4s;
    border-radius: 3px;
    padding: 0.43rem;
  }

  .p-inputtext:enabled:focus {
    border: solid 1px $color-4 !important;
    background-color: $color-2;
    color: #fff;
    box-shadow: none;
  }

  .p-inputtext:hover {
    box-shadow: none;
    background-color: $color-2;
    color: #fff;
  }

  .p-autocomplete-dd .p-autocomplete-input:focus {
    background-color: $color-1;
    border: none;
  }

  .p-autocomplete-panel {
    background-color: $color-2;
  }

  .p-autocomplete-items {
    transition: all 0.4s;
  }

  .p-autocomplete-items:hover {
    background-color: $color-4;

  }

  .p-autocomplete-items:hover {
    cursor: pointer;

    .food-preview {
      color: #000;
    }
  }

  .p-inputtext:enabled:hover {
    border-color: transparent;
  }
}
